body {
  margin: 0px;
  font-family: sans-serif;
}
.paper {
  margin: 20px;
  color: yellow;
  background-color:blue !Important;
}
.heading{
  


}
.slide {
  float: left;
  display: inline;
  width: 0px;
  padding: 20px;
  height: 150px;
}


